@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 253 17% 12%;
    --card: 0 0% 100%;
    --card-foreground: 253 17% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 253 17% 12%;
    --primary: 253 17% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 44 26% 47%;
    --secondary-foreground: 0 0% 100%;
    --muted: 253 17% 95%;
    --muted-foreground: 253 10% 40%;
    --accent: 44 26% 92%;
    --accent-foreground: 253 17% 28%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 253 17% 88%;
    --input: 253 17% 88%;
    --ring: 253 17% 28%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
